.settings_page_meetings {
	h2.nav-tab-wrapper:before {
	    content: '\f307';
	    display: inline-block;
	    -webkit-font-smoothing: antialiased;
	    font: normal 29px/1 'dashicons';
	    vertical-align: middle;
	    margin-right: 0.3em;
	}
}

#group.postbox h2.ui-sortable-handle span span { color: #ccc; }

#poststuff .inside { margin-top: 0; }

.alert {
	background-color: #fafade;
	padding: 12px;
	text-align: center;
	margin: 12px -12px 2px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.wp-admin .meta_form_row { 
	padding: 10px 0 0; overflow: auto; 
	label, input, div.checkboxes, #map { float: left; line-height: 100%; } 
	label { width: 13%; margin-right: 2%; text-align: right; font-size: 15px; line-height: 1.4; margin-top: 9px; white-space: nowrap; }
	input[type=text], input[type=time], select, textarea, div.checkboxes, #map { 
		width: 85%; margin: 0; font-size: 18px; padding: 6px; height: 40px; line-height: normal; float: left;
		border-radius: 0;
	}
	input, select { 
		border: 1px solid #ccc; 
	    border-radius: 0;
	    -webkit-border-radius: 0;
	}
	input[type=radio], input[type=checkbox] { 
		float: left;
		&:focus { box-shadow: none; }
	}
	input[disabled] { opacity: .5; cursor: not-allowed; }

	&.typeahead {
		overflow: visible;
		.twitter-typeahead{
		     width: 85%;
		     input { width: 100%; }
		}
		.tt-hint { color: #999; }
		.tt-dropdown-menu { display: none !important; }

	}

	textarea { height: 140px; }
	&:last-child { margin-bottom: 0; }
	div.checkboxes { 
		overflow: auto; padding: 0; height: auto; 
		-webkit-columns: 3 auto;
		-moz-columns: 3 auto;
		columns: 3 auto;
		
		input { margin: 0 8px 0 0; }
		label { float: none; display: block; margin: 0; padding: 5px 0; line-height: 16px; width: 100%; text-align: left; font-size: 13px; }
	}
	&.city {
		input { width: 60%; margin-right: 1%; }
		select { width: 24%; }
	}

	::-webkit-input-placeholder	{ color: #ccc }
	:-moz-placeholder			{ color: #ccc; }
	::-moz-placeholder			{ color: #ccc; }
	:-ms-input-placeholder		{ color: #ccc; }


	#map { background-color: #f6f6f6; height: 300px; padding: 0; }
	
	//meetings at a location
	ol {
		overflow: auto;
		font-size: 15px;
		margin: 0;
		padding: 10px 0 10px 30px;
		-webkit-columns: 2 auto;
		-webkit-column-gap: 60px;
		li {
			span { width: 160px; color: #999; display: inline-block; }
			&:last-child { margin-bottom: 0; }
		}
	}
	
	.container {
		width: 85%;
		float: left; 
		display: table;
		.row {
			display: table-row;
			&:first-child div { border-top: 0;	}
			div {
				border-left: 10px solid transparent;
				border-top: 10px solid transparent;
				display: table-cell;
				&:first-child { border-left: 0;	}
				input { width: 100%; }
			}
		}
	}
}