.settings_page_meetings h2.nav-tab-wrapper:before {
  content: '\f307';
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: normal 29px/1 'dashicons';
  vertical-align: middle;
  margin-right: 0.3em; }

.wp-admin .meta_form_row {
  margin: 10px 0;
  overflow: auto; }
  .wp-admin .meta_form_row label, .wp-admin .meta_form_row input, .wp-admin .meta_form_row div.checkboxes, .wp-admin .meta_form_row #map {
    float: left;
    line-height: 100%; }
  .wp-admin .meta_form_row label {
    width: 13%;
    margin-right: 2%;
    text-align: right;
    font-size: 15px;
    line-height: 40px;
    white-space: nowrap; }
  .wp-admin .meta_form_row input[type=text], .wp-admin .meta_form_row input[type=time], .wp-admin .meta_form_row select, .wp-admin .meta_form_row textarea, .wp-admin .meta_form_row div.checkboxes, .wp-admin .meta_form_row #map {
    width: 85%;
    margin: 0;
    font-size: 18px;
    padding: 6px;
    height: 40px;
    line-height: normal; }
  .wp-admin .meta_form_row input[type=radio], .wp-admin .meta_form_row input[type=checkbox] {
    float: left; }
    .wp-admin .meta_form_row input[type=radio]:focus, .wp-admin .meta_form_row input[type=checkbox]:focus {
      box-shadow: none; }
  .wp-admin .meta_form_row.typeahead {
    overflow: visible; }
    .wp-admin .meta_form_row.typeahead .twitter-typeahead {
      width: 85%; }
      .wp-admin .meta_form_row.typeahead .twitter-typeahead input {
        width: 100%; }
    .wp-admin .meta_form_row.typeahead .tt-hint {
      color: #ccc; }
    .wp-admin .meta_form_row.typeahead .tt-dropdown-menu {
      display: none !important; }
  .wp-admin .meta_form_row textarea {
    height: 100px; }
  .wp-admin .meta_form_row:last-child {
    margin-bottom: 0; }
  .wp-admin .meta_form_row div.checkboxes {
    overflow: auto;
    padding: 8px 0 0 0;
    height: auto; }
    .wp-admin .meta_form_row div.checkboxes input {
      margin: 0 8px 0 0; }
    .wp-admin .meta_form_row div.checkboxes label {
      margin: 5px 0;
      line-height: 16px;
      width: 50%;
      float: left;
      text-align: left;
      font-size: 13px; }
  .wp-admin .meta_form_row.city input {
    width: 60%;
    margin-right: 1%; }
  .wp-admin .meta_form_row.city select {
    width: 24%; }
  .wp-admin .meta_form_row ::-webkit-input-placeholder {
    color: #cccccc; }
  .wp-admin .meta_form_row :-moz-placeholder {
    color: #ccc; }
  .wp-admin .meta_form_row ::-moz-placeholder {
    color: #ccc; }
  .wp-admin .meta_form_row :-ms-input-placeholder {
    color: #ccc; }
  .wp-admin .meta_form_row #map {
    background-color: #f6f6f6;
    height: 300px;
    padding: 0; }
