$icon_font_path: '../fonts/'; //bootstrap
$color_gray: #aaa;
$color_highlight: #ff6; //for searching
$color_black: #333;
$color_white: #fdfdfc;
$margin: 15px; //spacing between elements
$height: 550px; //height of map and min-height of list

#tsml {
	@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
	@import 'typeahead-bootstrap.scss';
	
	mark {
		background-color: $color_highlight;
	}
	
	input:focus, button:focus {
		outline: 0;	
	}
	
	.container {
		max-width: 100%;
	}
	
	.spinning {
	    -animation: spin .7s infinite linear;
	    -webkit-animation: spin_webkit .7s infinite linear;
	}
	
	@-webkit-keyframes spin_webkit {
	    from { -webkit-transform: rotate(0deg);}
	    to { -webkit-transform: rotate(360deg);}
	}
	
	@keyframes spin {
	    from { transform: scale(1) rotate(0deg);}
	    to { transform: scale(1) rotate(360deg);}
	}
	
	.tsml_infowindow {
		width: 200px;
		max-height: 250px;
		h3 {
			margin: 0 0 $margin 0;
			font-size: 24px;
		}
		h5 {
			margin: $margin 0 0 0;
			font-size: 14px;
			font-weight: bold;
		}
		address {
			font-style: normal;
			margin: 0 0 $margin 0;
		}
		a {
			color: inherit;
			&.btn-primary {
				color: $color_white;
			}
			small::before {
				content: " / "
			}
		}
		p {
			margin-bottom: $margin;
			&:last-child {
				margin-bottom: 0;
			}
		}
		dl {
			overflow: auto;
			margin: 0;
			dt, dd {
				float: left;
				margin: 0;
				padding: 0;
			}
			dt {
				color: $color_gray;
				font-weight: normal;
				width: 62px;
				clear: left;
				margin-right: 6px;
				text-align: right;
				overflow: hidden;
				text-overflow: ellipsis;
				word-wrap: nowrap;
				font-size: 12px;
			}
			dd {
				width: 132px;
			}
		}
	}
	
	#meetings, #meeting, #location {
		text-align: left;
		a { cursor: pointer; }
	}
	
	/* meetings */
	#meetings {
		min-height: $height;
		padding: $margin;
		clear: both;
		
		.row.title {
			display: none; 
		}
	
		.controls {
			min-height: 34px;
			form, .dropdown, .btn-group {
				margin-bottom: $margin;
				height: 34px;
			}
			input {
				margin: 0;
				border-radius: 4px 0 0 4px;
				font-size: 16px; //this might seem big, but it prevents zooming on focus
			}
			/* need to have this button, and display: none will not work */
			input[type=submit] {
				visibility:hidden;
				position:absolute;
				left: -1000px;
			}
			input, .btn {
				height: 34px;
				padding: 6px 12px;
				margin: 0;
				text-transform: none;
			}
			.input-group-btn:last-child > .btn { 
				margin-left: -1px; 
				position: static;
				border-radius: 0 4px 4px 0;
				&:after { display: none; }
			}
			.tt-menu {
				min-width: 270px;
				.tt-dataset {
					h3 { margin-top: 10px; }
					&:first-child h3 { margin-top: 0; }
				}
				h3 {
					border-bottom: 1px solid #ccc;
					font-weight: bold;
					font-size: .8em;
					padding: 6px 20px;
					margin: 0;
					text-transform: uppercase;
				}
			}
			ul { 
				min-width: 100%; 
				max-width: 100%;
				li {
					position: relative;
					margin: 2px 0 0;
					&.divider { margin: 9px 0; }
					a {
						display: block;
						padding-top: 5px;
						padding-bottom: 5px;
					}
					div.expand {
						position: absolute;
						cursor: pointer;
						top: 0;
						right: 0;
						width: 40px;
						height: 100%;
						background: url(../img/ionicons-plus.svg) no-repeat center 4px;
						background-size: 24px 24px;
						box-sizing: content-box;
						&.expanded {
							background-image: url(../img/ionicons-minus.svg);
						}
					}
				}
				&.dropdown-menu-right {
					max-width: none;
				}
				&.children {
					overflow: hidden;
					height: 0;
					padding: 0;
					margin: 0;
					list-style-type: none;
					li {
						a {
							display: block;
							padding-left: 35px;
							padding-right: 35px;
							clear: both;
							font-weight: 400;
							line-height: 1.42857143;
							color: $color_black;
							&:hover {
								color: #262626;
								text-decoration: none;
								background-color: #f5f5f5;							
							}
						}
						.children li a { padding-left: 50px; }
						.children li .children li a { padding-left: 65px; }
						&.active > a { 
							color: #fff; 
							background-color: #337ab7;
						}
					}
					&.expanded {
						height: auto;
					}
				}
			}
			a { overflow: hidden; }
		}
		
		#region { display: none; }
	
		.results {
	
			h1 small {
				font-size: inherit;
				&::before {
					content: " / ";
				}
			}
	
			#table-wrapper { margin: 0 -#{$margin}; overflow: hidden; }
			#table-wrapper table { margin: 0; }
			
			table {
				display: none;
				border: 0;
				thead { display: none; }
				tbody {
					tr {
						display: block;
						padding: 10px $margin 10px 110px;
						border-top: 1px solid #ddd;
						position: relative;
						td { 
							display: inline; 
							padding: 0;
							border: 0;
							overflow: hidden;
							text-align: left;
							&.time {
								position: absolute;
								left: $margin;
								top: 10px;
								width: 90px;
								overflow: hidden;
								span { display: block; }
							}
							&.distance {
								position: absolute;
								left: $margin;
								bottom: 10px;
								font-size: 22px;
								font-weight: bold;
								line-height: 1.2;
							}
							&.name, &.location, &.address, &.region, &.district {
								display: block;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							&.name {
								width: 175px;
								small {
									position: absolute;
									right: $margin;
									color: $color_black;
									font-size: 11px;
									top: 13px;
								}
							}
							&.location, &.address, &.region, &.district {
								width: 220px;
							}
							&.types, &.district {
								display: none;
							}
						}
					}
				}
			}
				
			#map {
				border: 1px solid #ddd;
				border-radius: 4px;
				height: $height;
				display: none;
			}
		}
		
		&[tax-mode="district"] {
			.results {
				.district { display: block; }
				.region { display: none; }
			}
		}
	
		&[data-view="map"] {
			#map {
				display: block;
			}
			&.empty {
				#map { display: none; }
			}
		}
	
		&[data-view=list] {
			padding-bottom: 0;
			.controls {
				padding-bottom: 15px;				
			}
			table {
				display: table;
			}
			&.empty {
				table { display: none; }
			}
		}
	
		&[data-mode="search"] {
			#distance { display: none; }
			#region { 
				display: block; 
				li.district { display: none; }
			}
			&[tax-mode="district"] #region {
				li.district { display: block; }
				li.region { display: none; }
			}
			th.distance, td.distance { display: none !important; }
		}
	}
	
	#meeting, #location {
		.page-header {
			background-color: transparent;
			margin-left: 0;
			margin-right: 0;
			max-width: none;
			padding-left: 0;
			padding-right: 0;
		}
		.panel, .btn { margin-bottom: $margin; }
		h1 { font-size: 36px; margin-bottom: 4px; }
		small {
			color: $color_black;
			&::before {
				content: " / ";
			}
		}
		#map { height: 500px; }
		button { 
			font-size: inherit;
		}
		.panel {
			.panel-heading {
				background-color: white;
				border-color: transparent;
				border-radius: 3px;
				transition: all .1s;
				color: inherit;
				display: block;
				text-decoration: none !important;
				.panel-title {
					padding-right: 40px;
					position: relative;
					.panel-title-buttons {
						position: absolute;
						right: 0;
						transition: all .1s;
						a {
							color: inherit;
							& + a { margin-left: 15px; }
						}
					}
				}
			}
			ul.list-group { 
				margin: 0; 
				padding: 0; 
				.list-group-item {
					* {
						margin: 0 0 8px 0;
						background-color: transparent;
						&:last-child { margin-bottom: 0; }
					}
					h3.list-group-item-heading {
						font-size: 107%;
						margin-bottom: 4px;
						font-weight: bold;
						line-height: inherit;
						&:last-child { margin-bottom: 0; }
					}
					ul { 
						list-style-type: none;
						li { margin: 0; }
					}
					#card-element { margin-bottom: 0; }
					&.has-error {
						border-color: $state-danger-border;
						color: $state-danger-text;
						background-color: $state-danger-bg;
					}
					&.has-info {
						border-color: $state-warning-border;
						color: $state-warning-text;
						background-color: $state-warning-bg;
					}
					&.list-group-item-form {
						padding: 0;
						input, textarea, button {
							font-size: inherit;
							border: 0;
							border-radius: 0;
							width: 100%;
							text-transform: none;
						}
						input, textarea {
							padding: 10px $margin;
						}
						button {
							background-color: #eaeaea;
							text-align: center;
							width: 100%;
							padding: 7px;
							text-transform: uppercase;
							font-size: 85%;
							font-weight: bold;
						}
						textarea {
							resize: none;
							height: 250px;							
						}
						#amount {
							font-size: 24px;
							font-weight: bold;
						}
						&:last-child {
							border-radius: 0 0 3px 3px;
						}
					}
					&.list-group-item-meetings {
						h4 { 
							font-weight: bold; 
							font-size: 85%;
							margin: $margin 0 5px;
							&:first-child { margin-top: 3px; }
						}
						ul {
							list-style-type: none;
							padding: 0;
							li {
								padding-left: 90px;
								position: relative;
								span { 
									position: absolute; 
									left: 0; 
									width: 80px;
									text-align: right;
									color: #999;
								}
							}
							&:last-child { margin-bottom: 0; }
						}

					}
				}
			}
			&.panel-expandable {
				.panel-title {
					cursor: pointer;
				}
				ul.list-group { 
					max-height: 0;
					overflow: hidden;
					transition: max-height .25s;  
				}
				&.expanded {
					.panel-heading { 
						border-color: #ddd;
						background-color: #eee;
						border-radius: 3px 3px 0 0;
					}
					.panel-title span.glyphicon {
						transform: rotate(-90deg);
					}
					ul.list-group { 
						max-height: 500px;
					}
				}
			}
		}
	}
	
	#meeting form {
		&#payment {
			li.apple-pay { display: none; }
			&.apple-pay {
				li.credit-card { display: none; }
				li.apple-pay {
					display: block;
					button {
						background-image: -webkit-named-image(apple-pay-logo-black);
						height: 38px;
						background-size: 100% 100%;
						background-origin: content-box;
						background-repeat: no-repeat;
					}
				}
			}
		}
		
		&#feedback {
		}
	}
	
	body.tsml_fullscreen {
		#meetings {
		    position: fixed;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 9999;
			background-color: $color_white;
			max-width: none;
		}
		&.admin-bar {
			#meetings {
				padding-top: 47px;
			}
		}
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: 768px) {
		#meetings {
			.controls {
				margin-bottom: 0;
				ul.dropdown-menu {
					max-height: 310px;
					max-width: none;
					overflow: auto;
					li {
						& > a, div.expand {
							line-height: 18px;
							background-size: 21px 21px;
						}
					}
				}
			}
			.results table {
				margin: 0;
				thead {
					display: table-header-group;
					th {
						line-height: 1;
						padding-top: 0;
						text-transform: none;
						cursor: pointer;
						position: relative;
						padding: $margin / 2 $margin ;
						border: 0;
						&[data-sort="asc"]:after, &[data-sort="desc"]:after {
							content: "";
							border-style: solid;
							width: 0;
							height: 0;
							position: absolute;
							right: 0px;
							top: 12px;
						}
						&[data-sort="asc"]:after {
							border-width: 0 4px 8px;
							border-color: transparent transparent $color_gray transparent;
						}
						&[data-sort="desc"]:after {
							border-width: 8px 4px 0;
							border-color: $color_gray transparent transparent;
						}
						&.address, &.types, &.district { 
							display: none;
						}
						&.distance {
							text-align: right;
						}
						&.region[data-sort="asc"]:after, &.region[data-sort="desc"]:after {
							right: $margin;
						}
						&.district[data-sort="asc"]:after, &.district[data-sort="desc"]:after {
							right: $margin;
						}
					}
				}
				tbody tr {
					display: table-row;
					td {
						&.name, &.location, &.time, &.distance, &.address, &.region, &.district, &.types {
							white-space: normal;
							display: table-cell; 
							padding: 8px 8px 8px $margin;
							position: static;
						} 
						&.time {
							white-space: nowrap;
							span {
								display: inline; font-size: inherit;
								&:after { content: ", "; }
								&:last-child:after { content: " "; }
							}
						}
						&.distance {
							text-align: right;
							font-weight: inherit;
							font-size: inherit;
							line-height: inherit;
						}
						&.name {
							width: 35%;
							small {
								position: static;
								&:before { content: " / "; }
							}
						}
						&.location {
							width: 35%;
						}
						&.address, &.types, &.district { 
							display: none;
						}
					}
				}
			}
		}
		
		&[tax-mode="district"] {
			th.district, td.district { display: table-cell; }
			th.region, td.region { display: none; }
		}
		
		/* little bit of padding on larger screens */
		#meeting .main, #location .main { padding-bottom: 40px; }
	}
	
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: 992px) {
		#meetings .results table {
			thead tr th.address, tbody tr td.address { 
				display: table-cell;
			}
			thead tr th.name, tbody tr td.name { 
				width: 25%;
			}
			thead tr th.location, tbody tr td.location { 
				width: 25%;
			}
		}
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) {
		#meetings .results {
			table .address {
				display: table-cell;
			}
			#map {
				height: 650px;
			}
		}
	}
	
	@media print {
		a[href]:after {
			content: none !important; /* Remove Bootstrap's (http://) when printing */
	
		}
		#meetings .results table {
			tr {
				width: 50%;
				float: left;
				min-height: 170px;
			}
			td {
				&.name, &.location, &.address, &.region, &.district, &.types {
					width: auto !important;
					white-space: normal;
				}
				&.types {
					display: block !important;
				}
				&.name {
					font-weight: bold;
					small { display: none; }
				}
			}
		}
	}
}

/* Special per-theme fixes */
body {
	&.twentyfourteen {
		#page::before { display: none; }
		#tsml { 
			#meetings { 
				width: 100%; 
				.page-header { max-width: none; }
				&[data-view=list] { 
					padding-bottom: 0; 
					.controls { padding-bottom: 0; }
				}
			}
		}
	}
	&.twentyten {
		#main { padding-top: 5px; font-size: 14px; }
	}
	&.catch-box {
		#primary {
			width: 100%;
			#tsml {
				background-color: white;
				border-radius: 5px;
				.page-header { margin-top: 0; }
			}
		}
	}
}
